# Global controls
NET "ex_clk_i" LOC = J16;
NET "ex_clk_o" LOC = F4;
#NET "INT" LOC = R7;

# UART
NET "uartSIN"  LOC = K15;
NET "uartSOUT" LOC = L14;
NET "uartSOUT" PULLUP;

# UART debug
NET "uart_debugSIN" LOC = F1;
NET "uart_debugSOUT" LOC = E3;
NET "uart_debugSOUT" PULLUP;
NET "uartRESET_N" LOC = F7;

#NET   "SFT_SHCP" LOC = K16;
#NET   "SFT_DS" LOC = M15;
#NET   "SFT_STCP" LOC = K15;
#NET   "SFT_MR_N" LOC = K14;
#NET   "SFT_OE_N" LOC = L16;

#NET "NONCE_led[0]" LOC = B12 | SLEW = QUIETIO;
#NET "NONCE_led[1]" LOC = A11 | SLEW = QUIETIO;
#NET "NONCE_led[2]" LOC = B10 | SLEW = QUIETIO;
#NET "NONCE_led[3]" LOC = A10 | SLEW = QUIETIO;
#NET "NONCE_led[4]" LOC = B14 | SLEW = QUIETIO;

#NET "uartSIN_led" LOC = B16 | SLEW = QUIETIO;
#NET "uartSOUT_led" LOC = C6 | SLEW = QUIETIO;

#NET "gpioPIO_OUT[0]" LOC = D16 | SLEW = QUIETIO;

#GPIO read ID
#NET "gpioPIO_IN[0]" LOC = A14 | SLEW = QUIETIO;
#NET "gpioPIO_IN[1]" LOC = C9 | SLEW = QUIETIO;
#GPIO read Power good
#NET "gpioPIO_IN[2]" LOC = J14 | SLEW = QUIETIO;
#NET "gpioPIO_IN[3]" LOC = H16 | SLEW = QUIETIO;
#NET "gpioPIO_IN[4]" LOC = H15 | SLEW = QUIETIO;
#NET "gpioPIO_IN[5]" LOC = G16 | SLEW = QUIETIO;
#NET "gpioPIO_IN[6]" LOC = F15 | SLEW = QUIETIO;

#SPI0 OK
NET "spi0_SCLK_MASTER"    LOC = M2;
NET "spi0_MOSI_MASTER"    LOC = N3;
NET "spi0_MISO_MASTER"    LOC = L1;
NET "spi0_RESET"          LOC = P2;
NET "spi0_SS_N_MASTER[0]" LOC = R2;
NET "spi0_SS_N_MASTER[1]" LOC = G3;
NET "spi0_SS_N_MASTER[2]" LOC = N1;
NET "spi0_SS_N_MASTER[3]" LOC = L3;
NET "spi0_SS_N_MASTER[4]" LOC = P1;
NET "spi0_SS_N_MASTER[5]" LOC = M3;
NET "spi0_SS_N_MASTER[6]" LOC = R1;
NET "spi0_SS_N_MASTER[7]" LOC = M1;

#SPI1 OK
NET "spi1_SCLK_MASTER"    LOC = K1;
NET "spi1_MOSI_MASTER"    LOC = J3;
NET "spi1_MISO_MASTER"    LOC = K2;   
NET "spi1_RESET"          LOC = J1;  
NET "spi1_SS_N_MASTER[0]" LOC = E2;
NET "spi1_SS_N_MASTER[1]" LOC = H2;
NET "spi1_SS_N_MASTER[2]" LOC = F2;
NET "spi1_SS_N_MASTER[3]" LOC = G1;
NET "spi1_SS_N_MASTER[4]" LOC = F3;
NET "spi1_SS_N_MASTER[5]" LOC = E1;
NET "spi1_SS_N_MASTER[6]" LOC = H1;
NET "spi1_SS_N_MASTER[7]" LOC = D1;

#SPI2 OK
NET "spi2_SCLK_MASTER"    LOC = T6;
NET "spi2_MOSI_MASTER"    LOC = T5;
NET "spi2_MISO_MASTER"    LOC = T4;   
NET "spi2_RESET"          LOC = M4;  
NET "spi2_SS_N_MASTER[0]" LOC = M5;
NET "spi2_SS_N_MASTER[1]" LOC = H5;
NET "spi2_SS_N_MASTER[2]" LOC = M7;
NET "spi2_SS_N_MASTER[3]" LOC = K6;
NET "spi2_SS_N_MASTER[4]" LOC = M6;
NET "spi2_SS_N_MASTER[5]" LOC = K5;
NET "spi2_SS_N_MASTER[6]" LOC = N5;
NET "spi2_SS_N_MASTER[7]" LOC = L10;


#SPI3 OK
NET "spi3_SCLK_MASTER"    LOC = C3;
NET "spi3_MOSI_MASTER"    LOC = D3;
NET "spi3_MISO_MASTER"    LOC = C1; 
NET "spi3_RESET"          LOC = C2;
NET "spi3_SS_N_MASTER[0]" LOC = C8;
NET "spi3_SS_N_MASTER[1]" LOC = B2;
NET "spi3_SS_N_MASTER[2]" LOC = A3;
NET "spi3_SS_N_MASTER[3]" LOC = B3;
NET "spi3_SS_N_MASTER[4]" LOC = A2;
NET "spi3_SS_N_MASTER[5]" LOC = E4;
NET "spi3_SS_N_MASTER[6]" LOC = B1;
NET "spi3_SS_N_MASTER[7]" LOC = A4;

#SPI4 OK
NET "spi4_SCLK_MASTER"    LOC = T7;
NET "spi4_MOSI_MASTER"    LOC = L7;
NET "spi4_MISO_MASTER"    LOC = R7; 
NET "spi4_RESET"          LOC = P8;    
NET "spi4_SS_N_MASTER[0]" LOC = T9;
NET "spi4_SS_N_MASTER[1]" LOC = P5;
NET "spi4_SS_N_MASTER[2]" LOC = M9;
NET "spi4_SS_N_MASTER[3]" LOC = P4;
NET "spi4_SS_N_MASTER[4]" LOC = T8;
NET "spi4_SS_N_MASTER[5]" LOC = P6;
NET "spi4_SS_N_MASTER[6]" LOC = R9;
NET "spi4_SS_N_MASTER[7]" LOC = P7;


##SPI5
NET "spi5_SCLK_MASTER"    LOC = A6;
NET "spi5_MOSI_MASTER"    LOC = B5;
NET "spi5_MISO_MASTER"    LOC = D8;    
NET "spi5_RESET"          LOC = A5;
NET "spi5_SS_N_MASTER[0]" LOC = A10; #right
NET "spi5_SS_N_MASTER[1]" LOC = B6;  #right
NET "spi5_SS_N_MASTER[2]" LOC = A8;  #right
NET "spi5_SS_N_MASTER[3]" LOC = E7;  #right
NET "spi5_SS_N_MASTER[4]" LOC = B8;  #right
NET "spi5_SS_N_MASTER[5]" LOC = A9;  #right
NET "spi5_SS_N_MASTER[6]" LOC = A7;  #right
NET "spi5_SS_N_MASTER[7]" LOC = E10; #right

#SPI6
NET "spi6_SCLK_MASTER"    LOC = M12;
NET "spi6_MOSI_MASTER"    LOC = M11;
NET "spi6_MISO_MASTER"    LOC = P9;  
NET "spi6_RESET"          LOC = T13;   
NET "spi6_SS_N_MASTER[0]" LOC = R14; #right
NET "spi6_SS_N_MASTER[1]" LOC = L8;  #right
NET "spi6_SS_N_MASTER[2]" LOC = N6;  #right
NET "spi6_SS_N_MASTER[3]" LOC = N9;  #right
NET "spi6_SS_N_MASTER[4]" LOC = T14; #right
NET "spi6_SS_N_MASTER[5]" LOC = M10; #right
NET "spi6_SS_N_MASTER[6]" LOC = T15; #right
NET "spi6_SS_N_MASTER[7]" LOC = T12; #right

#SPI7 OK
NET "spi7_SCLK_MASTER"    LOC = D11;
NET "spi7_MOSI_MASTER"    LOC = C10;
NET "spi7_MISO_MASTER"    LOC = C11;     
NET "spi7_RESET"          LOC = C13;
NET "spi7_SS_N_MASTER[0]" LOC = A14;
NET "spi7_SS_N_MASTER[1]" LOC = D12;
NET "spi7_SS_N_MASTER[2]" LOC = A13;
NET "spi7_SS_N_MASTER[3]" LOC = A11;
NET "spi7_SS_N_MASTER[4]" LOC = A12;
NET "spi7_SS_N_MASTER[5]" LOC = B12;
NET "spi7_SS_N_MASTER[6]" LOC = E11;
NET "spi7_SS_N_MASTER[7]" LOC = F15;

#SPI8 OK
NET "spi8_SCLK_MASTER"    LOC = M16;
NET "spi8_MOSI_MASTER"    LOC = R16;
NET "spi8_MISO_MASTER"    LOC = J13;   
NET "spi8_RESET"          LOC = L16;  
NET "spi8_SS_N_MASTER[0]" LOC = M13;
NET "spi8_SS_N_MASTER[1]" LOC = R15;
NET "spi8_SS_N_MASTER[2]" LOC = M15;
NET "spi8_SS_N_MASTER[3]" LOC = N14;
NET "spi8_SS_N_MASTER[4]" LOC = J12;
NET "spi8_SS_N_MASTER[5]" LOC = P16;
NET "spi8_SS_N_MASTER[6]" LOC = M14;
NET "spi8_SS_N_MASTER[7]" LOC = N16;

#SPI9
NET "spi9_SCLK_MASTER"    LOC = H14;
NET "spi9_MOSI_MASTER"    LOC = G14;
NET "spi9_MISO_MASTER"    LOC = F14;  
NET "spi9_RESET"          LOC = G16;   
NET "spi9_SS_N_MASTER[0]" LOC = E16;
NET "spi9_SS_N_MASTER[1]" LOC = H16;
NET "spi9_SS_N_MASTER[2]" LOC = D16;
NET "spi9_SS_N_MASTER[3]" LOC = J14;
NET "spi9_SS_N_MASTER[4]" LOC = K14;
NET "spi9_SS_N_MASTER[5]" LOC = K16;
NET "spi9_SS_N_MASTER[6]" LOC = H15;
NET "spi9_SS_N_MASTER[7]" LOC = E15;

NET "TWI_SCL" LOC = C6;
NET "TWI_SDA" LOC = C5;

# SPI Flash: W25Q80BV
#NET "POWER_ON" LOC = T3 | SLEW = QUIETIO;
NET "PWM0" LOC = D6; #D6 FPGA OUTPUT
NET "FAN_IN0" LOC = E6;#C7 #FPGA INPUT

NET "PWM1" LOC = D5; # D5 FPGA OUTPUT
NET "FAN_IN1" LOC = C7;#E6 FPGA INPUT

NET "*" IOSTANDARD = LVCMOS33;

NET "ex_clk_i" TNM_NET = "ex_clk_i";
TIMESPEC TS_clk = PERIOD "ex_clk_i" 40 ns HIGH 50 %;

NET "clk_i" TNM_NET = "clk_i";
TIMESPEC TS_clk_i = PERIOD "clk_i" 10 ns HIGH 50 %;
